<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top"> 
  <!-- navbar-expand-md means that- navbar medium aur usse badi screen like large etc pe expanded dikhega baki sab small vgrh pe expanded ni dekhega--> 
  <!-- border-bottom wali class lagane se kisi bhi chiz ka border wala bottom dikhne lag jata hai -->
  <!-- sticky-top will make it stick to the top -->
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add new Listings</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- As a link -->
<!-- <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav> -->

<!-- As a heading -->
<!-- <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav> -->